<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
<connectionStrings>
		<add name="dbconnetion" connectionString="server=.;database=Bank1202;user id=sa;pwd=tecsun123456"/>
	</connectionStrings>
</configuration>
